<!-- Shadown overlay for modal -->
<div *ngIf="showModal" id="overlay"></div>

<!-- Top fixed bar  -->
<div class="topFixed">
  <div class="leftPull">
    <span class="projectName">{{projectName}}</span>
    <input class="searchInput" (keyup)="onSearch($event)">
    <br>
    <span class="activeText">{{onlineCount}} active members</span>
  </div>

  <div class="rightPull">
    Online now
    <mat-slide-toggle (click)="onlineChange()" [color]="primary" (checked)="checked">
    </mat-slide-toggle>
    <button class="blueButton" (click)="displayModal()" mat-raised-button><i class="material-icons">
        add
      </i>Add a new member</button>
  </div>
</div>
<!-- End top fixed bar -->

<!-- Table of list of members -->
<div class="table">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
      <th width="300rem" mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
      <td mat-cell *matCellDef="let element">
        <img class="profileImg" src={{element.profImg}} height="30px" width="30px" style="border-radius:50%;margin-right:15px;float:left">
        <span *ngIf="element.onlineStat == 1">
          <span class="dot"></span>
        </span>
        <span [ngClass]="{'name':true,'correction':element.onlineStat == 1}">{{element.firstName}} {{element.lastName}}</span>
        <br>
        <span class="quote">{{element.quote}}</span>
      </td>
    </ng-container>

    <!-- Department Column -->
    <ng-container matColumnDef="department">
      <th width="150rem" mat-header-cell *matHeaderCellDef mat-sort-header> DEPARTMENT </th>
      <td style="font-size:12px;color:#858585;" mat-cell *matCellDef="let element"> {{element.department}} </td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th width="250rem" mat-header-cell *matHeaderCellDef> EMAIL </th>
      <td style="font-size:12px;color:#0073cf;" mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- phone Column -->
    <ng-container matColumnDef="phone">
      <th width="200rem" mat-header-cell *matHeaderCellDef> PHONE </th>
      <td style="font-size:12px;color:#858585;" mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <!-- role Column -->
    <ng-container matColumnDef="role">
      <th width="200rem" mat-header-cell *matHeaderCellDef mat-sort-header> ROLE </th>
      <td style="font-size:12px;color:#858585;" mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>

    <ng-container matColumnDef="more">
      <th width="50rem" mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let element"><a href="#"><img src="assets/more.png"></a> </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<!-- End of table of list of members -->


<!-- Modal for adding a member -->
<div class="modal">
  <mat-card *ngIf="showModal">
    <mat-card-header style="border-bottom:1px solid grey">
      <mat-card-title>Add Team Member</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="modalBody">
        <form [formGroup]="addMember" (ngSubmit)="memberRegister(addMember.value)">

          <mat-form-field>
            <input class="leftInput" matInput required placeholder="First Name" formControlName="firstName">
          </mat-form-field>

          <mat-form-field class="rightInput">
            <input matInput required placeholder="Last Name" formControlName="lastName">
          </mat-form-field>

          <mat-form-field>
            <input class="leftInput" matInput placeholder="Email address" formControlName="email">
          </mat-form-field>

          <mat-form-field class="rightInput">
            <mat-select placeholder="Role" formControlName="role">
              <mat-option *ngFor="let role of roles" [value]="role.value">
                {{role.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input class="leftInput" matInput placeholder="Phone" formControlName="phone">
          </mat-form-field>

          <mat-form-field class="rightInput">
            <mat-select placeholder="Department" formControlName="department">
              <mat-option *ngFor="let department of departments" [value]="department.value">
                {{department.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <button class="cancelButton" (click)="closeModal()" mat-raised-button>Cancel</button>
          <button type="submit" mat-raised-button class="blueButton">Add Member</button>
        </form>
      </div>
    </mat-card-content>

  </mat-card>
</div>

<!-- End modal -->