/*Form modal*/
.modal {
  position: absolute;
  z-index: 200;
  left: 30%;
  right: 30%;
  text-align: center;
  top: 30%;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
.cancelButton {
  margin-right: 0px;
  border-radius: 20px;
  background-color: #ffffff;
  font-size: 13px;
  color: blue;
}
.blueButton {
  margin-left: 10px;
  border-radius: 20px;
  background-color: blue;
  font-size: 13px;
  color: #ffffff;
}

.leftInput {
  margin-right: 50px;
  margin-top: 20px;
}

.rightInput {
  margin-left: 50px;
}

/*Top fixed bar*/
.projectName {
  font-size: 20px;
  color: #333333;
}

.topFixed {
  margin-top: 17px;
}

.activeText {
  font-size: 11px;
  color: #858585;
}

.searchInput {
  border-radius: 50px;
  border: 2px solid lightgrey;
  margin-left: 20px;
  height: 30px;
  width: 225px;
}

input.searchInput {
  background-image: url(../../assets/search.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 15%;
}

.leftPull {
  float: left;
}
.rightPull {
  float: right;
}

/*Table Design*/

.table {
  clear: both;
  height: 28rem;
  overflow-y: auto;
}

th {
  background-color: #f6f7f8;
  color: #5c5c5c;
  font-size: 12px;
  position: sticky;
  top: 0;
  z-index: 3;
}

.quote {
  font-size: 10px;
  color: #858585;
  margin-left: 5px;
}

.name {
  font-size: 13px;
  color: #333333;
  margin-left: 5px;
}

.correction {
  position: relative;
  left: -10px;
}

/*Online badge on profile photos*/
.dot {
  height: 10px;
  width: 10px;
  background-color: #4efe36;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: -20px;
}

/* To change color of mat-slide-toggle button to green*/
/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #4efe36;
}
/deep/
  .mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-thumb {
  background-color: #4efe36;
}
