#header {
  height: 9%;
  background-color: white;
  box-shadow: 0px 0px 5px 0px;
  /* border: solid 1px black; */
}
#logo {
  /* max-width: 100%; */
  max-height: 100%;
  padding-left: 9%;
  float: left;
}

#righPull {
  float: right;
  /* margin-right: 10px; */
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.leftComponent {
  width: 250px;
  height: 540px;
  overflow-y: auto;
  float: left;
  margin-left: 8%;
}

.rightComponent {
  width: 868px;
  height: 540px;
  overflow-y: auto;
  float: right;
  margin-right: 8%;
}

.footer {
  clear: both;
  background-color: black;
  bottom: 0;
  position: absolute;
  height: auto;
  width: 100%;
  display: flex;
}
