#header {
  height: 9%;
  background-color: white;
  box-shadow: 0px 0px 5px 0px;
  border: solid 1px black;
}
#logo {
  /* max-width: 100%; */
  max-height: 100%;
  padding-left: 5%;
}

.righPull img {
  float: right;
}

.container {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

.leftComponent {
  width: 250px;
}

.rightComponent {
  width: 868px;
}
