<div id="header">
  <img id="logo" src="assets/logo.jpg">

  <div id="rightPull" style="float:right;margin-right: 8%;">
    <img style="padding:0.5em;margin-bottom: 8px;" src="assets/notification.png" height="20px" width="20px">
    <img style="padding:0.5em;border-radius:50%;" src="assets/profile.jpg" height="40px" width="40px">
  </div>

</div>
<div class="container">
  <!-- List of projects to filter the employees from -->
  <div id="leftComponent">

    <div id="profileSection">
      <img src="assets/profile.jpg" height="100px" width="100px" style="border-radius:50%;display: block;
      margin-left: auto;
      margin-right: auto;
      ">
      <p class="name">TED MOSBY</p>
      <p class="title">Human Resource | Sr. Associate</p>
    </div>

    <div id="projectList">
      <ul *ngFor="let project of projects">

        <li style="cursor:pointer;" class="projects" [ngClass]="{'active': selectedItem == project}" (click)="passId(project)">
          <img src={{project.image}} height="20px" width="20px" style="border-radius:50%;margin-right:5px;float: left">
          {{project.name}}
        </li>
      </ul>
    </div>
  </div>

  <!-- Employees list component -->
  <div id="rightComponent">
    <app-right-component [data]="toChild"></app-right-component>
  </div>
</div>

<!-- Footer -->
<div class="footer">
  <p>
    &copy; 2013-2018 ABZCorp Company. All Rights Reserved.
  </p>
</div>