#header {
  height: 9%;
  background-color: white;
  box-shadow: 0px 0px 5px 0px;
  /* border: solid 1px black; */
}
#logo {
  /* max-width: 100%; */
  max-height: 100%;
  padding-left: 9%;
  float: left;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

/*LEFT PANEL*/

.name {
  text-align: center;
  font-size: 20px;
  color: #333333;
}

.title {
  text-align: center;
  font-size: 11px;
  color: #858585;
}

#leftComponent {
  width: 250px;
  float: left;
  margin-left: 8%;
  background-color: white;
  margin-top: 10px;
  box-shadow: 5px;
}

#projectList {
  height: 22rem;
  overflow-y: auto;
}
#projectList > ul {
  list-style-type: none;
}

.projects {
  font-size: 14px;
  color: #858585;
  padding: 10px;
  border-radius: 0 50px 50px 0;
}

.active {
  color: #00737f !important;
  background-color: #daedfc;
}

/*RIGHT PANEL*/

#rightComponent {
  width: 868px;
  float: right;
  margin-right: 8%;
  margin-top: 10px;
}

.footer {
  clear: both;
  background-color: #505151;
  bottom: 0;
  position: absolute;
  height: auto;
  width: 100%;
  display: flex;
}
.footer > p {
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}
