/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  height: 100vh;
  width: 100%;
  background-color: #f6f7f8;
}
body {
  margin: 0;
  font-family: Helvetica;
}
